---
import MainLayout from '../layouts/MainLayout.astro';
import { getEntry, render } from 'astro:content';
const siteUrl = import.meta.env.SITE_URL;

const { lang = 'it', slug, canonical } = Astro.props;
const entryId = `${lang}/${slug}`;

const entry = await getEntry('pages', entryId);

if (!entry) {
  return Astro.redirect('/404');
}

const { Content } = await render(entry);

---
<MainLayout 
  canonical={canonical}
  siteUrl={siteUrl}
  title={entry.data.title}
  lang={lang}
>
  
  <div class="wrapper">
    <div class="SX">
      <h1>{entry.data.title}</h1>
    </div>
    <div class="DX">
      <p>sono un bel Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique libero ipsa dignissimos eos possimus itaque asperiores culpa harum maiores repudiandae nostrum ad enim, voluptate ducimus totam ratione earum vel. Ipsam?</p>
    </div>
  </div>
</MainLayout>

<style>
  .wrapper {
    display: flex;
    justify-content: center;
    gap: 2rem;
    .SX {
      flex-basis: calc(100% / 2);
    }
    .DX {
      flex-basis: calc(100% / 2);
    }
  }
</style>