---
import Header from "../components/partials/Header.astro";
import Footer from "../components/partials/Footer.astro";

import "../styles/global.css";
import { ClientRouter } from "astro:transitions";
import customSlideAnimation from "../scripts/customSlideAnimation";

const { canonical, siteUrl, title, lang } = Astro.props;
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    {canonical && <link rel="canonical" href={`${siteUrl}${canonical}`} />}
    <title>{title}</title>
    <ClientRouter />
    <script is:inline>
      const setTheme = () => {
        const theme = localStorage.getItem('theme') || 
          (window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light');
        
        const root = document.documentElement;

        if (theme === 'dark') {
          root.classList.add('dark');
        } else {
          root.classList.remove('dark');
        }
        
        root.dataset.theme = theme;
      };

      setTheme();
      document.addEventListener('astro:after-swap', setTheme);
    </script>
  </head>
  <body>
    <Header />
    <main transition:name="main-content" transition:animate={customSlideAnimation}>
      <slot />
    </main>
    <Footer />
		<script src="../scripts/navigation.js"></script>
  </body>
</html>
